/* ECOMMERCE SECTION */
.ecom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    grid-row: 1rem;
    width: 95%;
    margin: auto;
    padding: 3rem 0;

    @media only screen and (min-width : 320px) and (max-width : 480px) {
        display: flex;
        flex-direction: column;
        width: 85%;
        padding: 2rem 0;
    }

    .aside {
        grid-column: 1/1;

        h3 {
            margin-bottom: 1.2rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                font-size: 1.5rem;
            }
        }

        .cart-list {
            height: auto;
            margin-bottom: 2rem;

            .cart-table {
                text-align: center;

                td {
                    border-bottom: 1px dotted white;
                    padding: 1rem 0;

                    i {
                        cursor: pointer;
                        align-items: center;
                    }

                    button {
                        width: 1rem;
                        height: 1rem;
                        border-radius: 1rem;
                        border: none;
                        font-family: "Rubik", sans-serif;
                        font-weight: 600;
                        color: #056F72;
                        margin: 0.2rem;
                    }
                }

                p {
                    line-height: 1.5rem;

                    .delete-item {
                        margin-left: 1rem;
                        cursor: pointer;
                    }
                }

                th {
                    background-color: rgba(255, 255, 255, 0.2);
                    font-size: 0.8rem;
                    padding: 1rem 0.4rem;
                }

                .productQty {
                    text-align: center;
                    width: 1.2rem;
                }
            }
        }

        .total-row {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            width: 21.5rem;
            background-color: rgba(255, 255, 255, 0.2);

            p {
                font-size: 1rem;
                margin-right: 1rem;
            }
        }

        .purchase {

            button {
                display: inline-block;
                background-color: #f4c023;
                width: 21.5rem;
                padding: 1rem 0;
                color: black;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 1rem;
                border: none;
                border-radius: 0.3rem;
                box-shadow: 1px 2px 1rem rgba(0, 0, 0, .1);
                transition: background-color .3s;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.1rem;
                    padding: 0.8rem 1.5rem;
                }

                &:hover {
                    background-color: #dbaf29;
                }
            }
        }

        hr {
            width: 21.5rem;
            margin-bottom: 2rem;
        }

        .filter-list {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                margin-bottom: 1.2rem;
            }

            p,
            label {
                line-height: 1.5rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.1rem;
                    line-height: 2rem;
                }
            }

            label,
            input {
                cursor: pointer;
            }

            span {
                margin-left: 0.5rem;
            }
        }

    }

    .ecom-section {
        grid-column: 2/2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .card {
            width: 100%;
            background-color: rgb(255, 255, 255);
            box-shadow: 5px 5px 1rem rgba(0, 0, 0, .1);
            color: black;
            border-radius: 0.4rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                text-align: center;
            }

            .image-container {
                height: 12rem;
            }

            .image {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                border-radius: 0.5rem 0.5rem 0 0;
                padding-top: 1rem;
            }

            .info-container {
                padding: 1.5rem;
            }

            .heading {
                font-size: 1.2rem;
                margin-bottom: 1rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.5rem;
                }
            }

            .paragraph {
                font-size: .8rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.1rem;
                }
            }

            .price {
                font-size: 1rem;
                font-weight: 600;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.5rem;
                }
            }

            .add-btn {
                display: inline-block;
                background-color: #f4c023;
                padding: 0.5rem 1.2rem;
                color: black;
                font-size: 0.8rem;
                font-weight: 400;
                margin-top: 1.2rem;
                border-radius: 0.3rem;
                box-shadow: 1px 2px 1rem rgba(0, 0, 0, .1);
                transition: background-color .3s;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.1rem;
                    padding: 0.8rem 1.5rem;
                }

                &:hover {
                    background-color: #dbaf29;
                }
            }
        }
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    overflow: auto;
    background-color: #056F72;
    background-color: rgba(0, 0, 0, 0.4);


    .modal-content {
        background-color: white;
        color: #056F72;
        margin: 15%;
        padding: 2rem 2rem 1rem;
        width: 60%;
        border-radius: 1rem;


        h5 {
            font-family: "Clash display", sans-serif;
            font-weight: 500;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        .closeIcon {
            background-color: white;
            color: #056F72;
            float: right;
            font-size: 2rem;
            cursor: pointer;
            border: none;
            transition: opacity .3s;

            &:hover {
                opacity: 0.5;
            }
        }

        .modal-body {
            font-size: 1.1rem;
            margin-bottom: 1rem;
        }

        .btn-cerrar {
            border: 1px solid #056F72;
            background-color: white;
            border-radius: .5rem;
            margin: 1rem 0;
            padding: 0.6rem 1.2rem;
            color: #056F72;
            font-size: 0.9rem;
            font-weight: 600;
            transition: opacity .5s;

            &:hover {
                background-color: #056F72;
                opacity: 0.8;
                color: white;
            }
        }
    }


}