/* ECOMMERCE SECTION */
.ecom {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1rem;
    grid-row: 1rem;
    width: 90%;
    margin: auto;
    padding: 3rem 0;

    @media only screen and (min-width : 320px) and (max-width : 480px) {
        display: flex;
        flex-direction: column;
        width: 85%;
        padding: 2rem 0;
    } 

    .aside {
        grid-column: 1/1;

        h3 {
            margin-bottom: 1.2rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                font-size: 1.5rem;
            } 
        }

        .cart-list {
            height: auto;
            margin-bottom: 2rem;

            .cart-table {
                text-align: center;

                thead {
                    display: flex;
                    align-items: center;
                    height: 2rem;
                    background-color: rgba(255,255,255,0.2);
                }
                

                td {
                    border-bottom: 1px dotted white;
                    padding: 1rem 0;

                    i {
                        cursor: pointer;
                        align-items: center;
                    }

                    button {
                        width: 1rem;
                        height: 1rem;
                        border-radius: 1rem;
                        border: none;
                        font-family: "Rubik", sans-serif;
                        font-weight: 600;
                        color: #056F72;
                        margin: 0.2rem;
                    }
                }

                p {
                    line-height: 1.5rem;
    
                    .delete-item {
                        margin-left: 1rem;
                        cursor: pointer;
                    }
                }
    
                th {
                    font-size: 0.8rem;
                    padding-right: 0.5rem;
                }
    
                .productQty {
                    text-align: center;
                    width: 1.2rem;
                }
            }
        }

        .total-row {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem 0;
            width: 20rem;
            background-color: rgba(255,255,255,0.2);

            p {
                font-size: 1rem;
                margin-right: 1rem;
            }
        }

        hr {
            width: 20rem;
            margin-bottom: 2rem;
        }

        .filter-list {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                margin-bottom: 1.2rem;
            } 

            p,
            label {
                line-height: 1.5rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.1rem;
                    line-height: 2rem;
                } 
            }

            label,
            input {
                cursor: pointer;
            }

            span {
                margin-left: 0.5rem;
            }
        }

    }

    .ecom-section {
        grid-column: 2/2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        } 

        .card {
            width: 100%;
            background-color: rgb(255, 255, 255);
            box-shadow: 5px 5px 1rem rgba(0, 0, 0, .1);
            color: black;
            border-radius: 0.4rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                text-align: center;
            } 

            .image-container {
                height: 12rem;
            }

            .image {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                border-radius: 0.5rem 0.5rem 0 0;
                padding-top: 1rem;
            }

            .info-container {
                padding: 1.5rem;
            }

            .heading {
                font-size: 1.2rem;
                margin-bottom: 1rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.5rem;
                } 
            }

            .paragraph {
                font-size: .8rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.1rem;
                } 
            }

            .price {
                font-size: 1rem;
                font-weight: 600;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.5rem;
                } 
            }

            .add-btn {
                display: inline-block;
                background-color: #f4c023;
                padding: 0.5rem 1.2rem;
                color: black;
                font-size: 0.8rem;
                font-weight: 400;
                margin-top: 1.2rem;
                border-radius: 0.3rem;
                box-shadow: 1px 2px 1rem rgba(0, 0, 0, .1);
                transition: background-color .3s;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.1rem;
                    padding: 0.8rem 1.5rem;
                } 

                &:hover {
                    background-color: #dbaf29;
                }
            }
        }
    }
}