#footer {
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4c023;
    color: #056F72;

    p {
        font-size: 0.8rem;
        font-weight: 500;
    }
}