/* HERO */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;

    @media only screen and (min-width : 320px) and (max-width : 480px) {
        flex-direction: column;
        padding: 2rem 1.5rem;
        width: 100%;
    } 

    .img-hero {
        left: -600px;
        width: 50%;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            width: 100%;
        } 
    }

    .heroContent {
        width: 36%;
        margin-right: 5rem;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
           width: 100%;
           margin: 2rem 0;
        } 

        h1 {
            font-family: "Clash display", sans-serif;
            font-weight: 600;
            font-size: 3rem;
            line-height: 3.5rem;
            padding-bottom: 1rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                font-size: 2rem;
                line-height: 2rem;
                margin-top: 1rem;
            } 
        }

        p {
            width: 400px;
            font-weight: 200;
            margin-bottom: 3rem;
            line-height: 1.5rem;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                width: 80%;
                margin-bottom: 1.5rem;
            } 
        }

        .cta-hero {
            display: flex;

            .btn-one {
                background-color: #f4c023;
                border: 1px solid #f4c023;
                padding: 0.8rem 1.2rem;
                color: #056F72;
                font-size: 0.9rem;
                font-weight: 600;
                transition: opacity .3s;

                i {
                    margin-left: 0.5rem;

                    @media only screen and (min-width : 320px) and (max-width : 480px) {
                        display: none;
                    } 
                }

                &:hover {
                    opacity: 0.8;
                }
                
            }

            .btn-two {
                background-color: transparent;
                border: 1px solid #f4c023;
                padding: 0.8rem 1.2rem;
                color: #f4c023;
                font-size: 0.9rem;
                font-weight: 600;
                margin-left: 1rem;
                transition: all .3s;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    padding: 0.5rem 0.8rem;
                } 

                i {
                    margin-left: 0.5rem;

                    @media only screen and (min-width : 320px) and (max-width : 480px) {
                        display: none;
                    } 
                }

                &:hover {
                    background-color: white;
                    border: 1px solid white;
                    color: #056F72;
                }
            }
        }

    }
}

/* Section 'Products' */
#productsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 30rem;
    padding: 3rem 0;

    @media only screen and (min-width : 320px) and (max-width : 480px) {
        flex-direction: column;
        height: auto;
    } 

    .card-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            padding: 1rem 0;
        } 

        img {
            width: 300px;
            margin-bottom: 1.5rem;
            border-bottom: 8px #f4c023 solid;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                width: 90%;
                margin-bottom: 1rem;
            } 
        }

        h2 {
            width: 300px;
            color: #056F72;
            font-size: 1.5rem;
            font-weight: 600;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                width: 90%;
            } 
        }
    }
}

/* Banner Section */

#bannerSearcher {
    background: url("../img/banner.jpg") no-repeat center;
    width: 100vw;
    min-height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-family: "Clash display", sans-serif;
        font-weight: 600;
        font-size: 2rem;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            width: 90%;
        } 
    }

    .searcher-bar {
        cursor: pointer;
        width: 50%;
        height: 2rem;
        padding: 1rem;
        margin-top: 1rem;
        border: none;
        font-family: "Rubik", sans-serif;
        font-size: 1rem;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            width: 90%;
            margin-bottom: 1rem;
        } 
    }
}

/* Testimonials Section */
#testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: flex-start;
    min-height: 200px;
    text-align: center;
    padding: 3rem;

    @media only screen and (min-width : 320px) and (max-width : 480px) {
        width: 100vw;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
    } 

    .testimonial-btn {
        background-color: transparent;
        border: 1px solid #f4c023;
        padding: 0.8rem 1.2rem;
        color: #f4c023;
        font-size: 1.2rem;
        font-weight: 600;
        transition: all .3s;
        grid-column: 2/3;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            width: 90vw;
            margin-top: 2rem;
        } 

        i {
            margin-left: 0.5rem;
        }

        &:hover {
            background-color: white;
            border: 1px solid white;
            color: #056F72;
        }
    }

    .card {
        display: flex;
        align-items: center;
        flex-direction: column;

        @media only screen and (min-width : 320px) and (max-width : 480px) {
            margin: 2rem 0;
        } 

        img {
            width: 10rem;
            height: 10rem;
            object-fit: cover;
            border-radius: 5rem;
            margin: 2rem 0;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                margin: 0;
                margin-bottom: 1rem;
            } 
        }

        .card-body {
            width: 80%;

            @media only screen and (min-width : 320px) and (max-width : 480px) {
                width: 90%;
            } 

            .card-id {
                font-family: "Clash display", sans-serif;
                font-weight: 300;
                font-size: 0.8rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1rem;
                } 
            }

            .card-title {
                font-family: "Clash display", sans-serif;
                font-weight: 600;
                font-size: 1rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1.2rem;
                } 
            }

            .card-text {
                font-family: "Clash display", sans-serif;
                font-weight: 200;
                font-size: 0.8rem;
                margin-top: 0.5rem;

                @media only screen and (min-width : 320px) and (max-width : 480px) {
                    font-size: 1rem;
                } 
            }
        }


    }
}