/* HERO */
#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0;

    .img-hero {
        left: -600px;
        width: 50%;
    }

    .heroContent {
        width: 36%;
        margin-right: 5rem;

        h1 {
            font-family: "Clash display", sans-serif;
            font-weight: 600;
            font-size: 3rem;
            line-height: 3.5rem;
            padding-bottom: 1rem;
        }

        p {
            width: 400px;
            font-weight: 200;
            margin-bottom: 3rem;
            line-height: 1.5rem;
        }

        .cta-hero {
            .btn-one {
                background-color: #f4c023;
                border: 1px solid #f4c023;
                padding: 0.8rem 1.2rem;
                color: #056F72;
                font-size: 0.9rem;
                font-weight: 600;
                transition: opacity .3s;

                i {
                    margin-left: 0.5rem;
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .btn-two {
                background-color: transparent;
                border: 1px solid #f4c023;
                padding: 0.8rem 1.2rem;
                color: #f4c023;
                font-size: 0.9rem;
                font-weight: 600;
                margin-left: 1rem;
                transition: all .3s;

                i {
                    margin-left: 0.5rem;
                }

                &:hover {
                    background-color: white;
                    border: 1px solid white;
                    color: #056F72;
                }
            }
        }

    }
}

/* Section 'Products' */
#productsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    min-height: 80vh;
    left: 0;

    .card-home {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;

        img {
            width: 300px;
            margin-bottom: 1.5rem;
            border-bottom: 8px #f4c023 solid;
        }

        h2 {
            width: 300px;
            color: #056F72;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

/* Banner Section */

#bannerSearcher {
    background: url("../img/banner.jpg") no-repeat center;
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-family: "Clash display", sans-serif;
        font-weight: 600;
        font-size: 2rem;
    }

    .searcher-bar {
        cursor: pointer;
        width: 50%;
        height: 2rem;
        padding: 1rem;
        margin-top: 1rem;
        border: none;
        font-family: "Rubik", sans-serif;
        font-size: 1rem;
    }


}